html {
    font-size:16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
	font-size:1em;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-size:1em;
  width: 90%;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;

}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 21px;

}

/*The widths are in a percentage!*/
header {

	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
  text-align: center;
}

header h1 {
  width:100%
	margin: 0;
	padding: 10px 0 5px 0;
  border-bottom: 3px solid #77a466;

}
header h1 span {
	color: #77a466;
}

header nav {
  width: 100%;
	padding: 10px 0 15px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 0 10px;
	text-align: center;
  list-style: none;
  line-height: 2em;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

}

.main-image {
	height: auto;

}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;

}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;

	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
  width: 100%;
	border-top: 3px solid #eee;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}
/* ----------- Tablets larger than 768px wide ----------- */
@media all and (min-width: 768px) {

p {
  padding: 0 30px;
}

  .bottom-section {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
	}
	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		height: auto;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media all and (min-width: 1200px) {

  header nav {
    width: 50%;
  	float: right;
	  padding: 46px 0;
    text-align: right;
  }
  header h1 {
    width: 50%;
    float:left;
    border: none;
    margin: 0;
	  padding: 38px 0;
    text-align:left;



  }
  header nav ul {
    display: flex;
    justify-content: space-between;
  }
}
